/* =====================
   ABOUT SECTION
===================== */
.about {
  padding: 0px 0px;
  background: #fff;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: -20px;
  align-items: center;
}

/* IMAGE */
.about-image img {
  width: 100%;
  max-width: 520px;
  display: block;
}

/* CONTENT */
.about-subtitle {
  font-size: 13px;
  letter-spacing: 2px;
  color: #b5b890;
  font-weight: 700;
}

.about-title {
  font-size: 50px;
  font-weight: 900;
  margin: 10px 0 20px;
}

.about-text {
  color: #888;
  line-height: 1.8;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* INFO LIST */
.about-info {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.about-info li {
  margin-bottom: 10px;
  font-size: 18px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-info strong {
  width: 120px;
  display: inline-block;
  color: #000;
}

/* INTERESTS */
.about-interests {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.about-interests div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.about-interests svg {
  color: #b5b890;
}

/* =========================
   RESPONSIVE - ABOUT
========================= */

/* Tablet */
@media (max-width: 991px) {
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-image img {
    margin: auto;
  }

  .about-interests {
    justify-content: center;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .about-title {
    font-size: 34px;
  }

  .about-info li {
    font-size: 15px;
  }
}

