.blog-section {
  padding: 120px 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: #fff;
}

.blog-tag {
  font-size: 12px;
  letter-spacing: 3px;
  color: #b5b58e;
  font-weight: 600;
}

.blog-title {
  font-size: 42px;
  font-weight: 800;
  margin: 15px 0;
  color: #1e2b38;
}

.blog-desc {
  max-width: 600px;
  margin: 0 auto 70px;
  color: #9a9a9a;
  font-size: 15px;
}

/* GRID */
.blog-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.blog-card {
  text-align: left;
}

.blog-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.blog-content {
  padding-top: 20px;
}

.blog-meta {
  font-size: 12px;
  color: #b5b58e;
  letter-spacing: 1px;
}

.blog-link {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 700;
  color: #1e2b38;
  text-decoration: none;
  transition: 0.3s;
}

.blog-link:hover {
  color: #b5b58e;
}

.blog-content p {
  font-size: 14px;
  color: #999;
  line-height: 1.7;
}

/* =========================
   RESPONSIVE - BLOG
========================= */

/* Tablet */
@media (max-width: 900px) {
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .blog-grid {
    grid-template-columns: 1fr;
  }

  .blog-title {
    font-size: 30px;
  }

  .blog-card img {
    height: 200px;
  }
}
